﻿@{
    ViewBag.Title = "_Logs";
}
<div id="logsPanel" class="rust-panel logs">
    <table>
        <thead>
            <tr>
                <th>Strategy Name</th>
                <th>Mode</th>
                <!--<th>Handled Targets</th>-->
                <th>Angle</th>
                <th>TargetAngle</th>
                <th>ObstacleAngle</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: logs">
            <tr>
                <td data-bind="text: strategy"></td>
                <td data-bind="text: mode"></td>
                <!--<td data-bind="text: handledTargets"></td>-->
                <td data-bind="text: angle"></td>
                <td data-bind="text: targetAngle"></td>
                <td data-bind="text: obstacleAngle"></td>
                <td data-bind="text: time"></td>
            </tr>
        </tbody>
    </table>
</div>
