﻿@{
    ViewBag.Title = "Home";
}

<header>
    <div id="headerImage"></div>
    <ul id="menu">
        <li id="showLogs" style="cursor: pointer;">My Thoughts</li>
        <li id="showTargets" style="cursor: pointer;">My Goals</li>
        <li id="showVideoStream" style="cursor: pointer;">My reality</li>
    </ul>
</header>

<div id="main-content">
    <section>
        @Html.Partial("_Logs")
    </section>
    <section>
        @Html.Partial("_Targets")
    </section>
    <section>
        @Html.Partial("_VideoStream")
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
}