﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Rust</title>
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg">
    <link rel="alternate icon" type="image/png" href="~/favicon.png">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Rust</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxCommon")
    @RenderSection("scripts", required: false)
</body>
</html>