﻿body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

body {
    background-color: #fff;
    color: #333;
    max-width: 980px; /*Remove this to make it full screen*/
    margin: 1em auto;
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

#headerImage {
    background-image: url(images/minmatar.jpg);
    height: 90px;
    -moz-background-position-x: -5px;
    -o-background-position-x: -5px;
    background-position-x: -5px;
    -moz-background-position-y: -40px;
    -o-background-position-y: -40px;
    background-position-y: -40px;
}

/*#region Header */

#menu {
    list-style-type: none;
    padding: 0;
}

    #menu li {
        display: inline-block;
        cursor: pointer;
        color: rgb(136, 136, 136);
        font-family: Lato, Calibri, Arial, sans-serif;
        letter-spacing: 1.1039999723434448px;
        line-height: 24.288000106811523px;
        text-transform: uppercase;
    }

        #menu li:hover {
            color: rgb(51, 51, 51);
        }

        #menu li:not(:first-child) {
            margin-left: .8em;
        }

/*#endregion */

#main-content {
    min-height: 400px;
    text-align: center;
}

/*#region info and errors */
.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    /*margin: 5em 5em .7em 0;*/
}

/*#endregion */

.rust-panel {
    padding: .2em;
}

.targets {
    background: dodgerblue;
}

.logs {
    background: #fcd04b;
}

.video-stream {
    background: yellowgreen;
}

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}